@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-primary {
    @apply text-[#333333];
    /* Direct value fallback */
    color: var(--primary);
    /* Optional CSS variable */
  }
}

@layer base {
  @layer base {
    :root {
      --background: 250 250 250;
      /* #FAFAFA */
      --foreground: 51 51 51;
      /* #333333 */

      --primary: 51 51 51;
      /* #333333 */
      --primary-foreground: 250 250 250;

      --accent: 255 215 0;
      /* #FFD700 */
      --accent-foreground: 51 51 51;

      --muted: 229 231 235;
      /* #E5E7EB */
      --muted-foreground: 113 113 122;

      --completed: 34 197 94;
      /* #22c55e */
      font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;
    }
  }

  a {
    @apply no-underline hover:no-underline;
    color: rgba(37, 36, 37, 0.849);
    text-decoration: none;
  }

  ul,li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
     @apply no-underline hover:no-underline;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
  }

  main {}


  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    /* background-color: #646cff; */
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: #f8b014;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}